/**
Global CSS
*/
.label {
    -fx-text-fill :#ffffff;
}

/**
Right Pane CSS
*/
.right-pane {
    -fx-background-color: #000000;
    -fx-padding: 10;

}
.item-box {
   -fx-background-color: #1a1a1a;
    -fx-padding: 3;
    -fx-border-color: #666666;
    -fx-border-width: 1;
}
.product-name {
    -fx-font-size: 15;
    -fx-font-weight: bold;
}
